.parent{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.boss{
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 22px;
    background-image: linear-gradient(to top, rgb(194, 167, 167) 0%, rgb(161, 158, 158) 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    /* text-shadow:1px 1px 2px rgb(53, 51, 51); */
    border-radius: 20px;
    /* padding: 10px 0px 0px 17px; */
    width: 50%;
    border: 1px solid black;
    padding-bottom: 5px;
}
.container_2{
    list-style: none;
}
.boss h1{
    padding-top: 8px;
    padding-left:40px;
}
.boss:hover{
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset #00000026 0px -10px 20px;
}
body{
    background-color: #bcbcbc;
}
.container > input{
    font-size: 40px;
    padding: 5px;
    border: 2px solid black;
}
.container{
 position:absolute;
 margin-top: 130px;
}
li{
    font-size: 34px;
}
li:hover{
  text-decoration-line: line-through;
}